spImagesDirectory	= ./images/				    
spImagesPrefix		=  img	
spImagesSuffix 		=	.png		
spNumOfImages 		=	2	     

# The following have default values, can be left uninitialized #
# No default values - must be initiated #

		spPCADimension		= 10
	spPCAFilename 		=pca.yml
  spNumOfFeatures 	=100
	spExtractionMode     	= false
spMinimalGUI 			= 		true
spNumOfSimilarImages	=		5
spKNN			=1
spKDTreeSplitMethod	= MAX_SPREAD 
spLoggerLevel		=4
spLoggerFilename	=stdout