spImagesDirectory	= ./images/				    
spImagesPrefix		=     img	
spImagesSuffix 		=			.png		
spNumOfImages 		=								17	     

# The following have default values, can be left uninitialized #
# No default values - must be initiated #

		spPCADimension		= 10
	spPCAFilename 		=pca.yml
  spNumOfFeatures 	=100
	spExtractionMode     	= true
spMinimalGUI 			= 		true
spNumOfSimilarImages	=		5
#spKNN			=1
spKDTreeSplitMethod	=MAX_SPREAD
#spLoggerLevel		=3
#spLoggerFilename	=stdout
